@model IEnumerable<appVuelaSA.Models.Asientos_Disoponibles_Por_Viaje_Result>
@{
    ViewBag.Title = "CambiarAsientos";
    Layout = "~/Views/Shared/_Layout_Cliente.cshtml";

}

<h2>Seleccion de Asientos</h2>

<div>
    <img src="~/Resources/avion.png" />

    <div style="height: 550px; overflow: auto;">
        <table class="table">
            <tr>
                <th>
                    Fila de Asiento
                </th>

                <th>
                    Columna de Asiento
                </th>
                <th>
                    Categoria
                </th>

                <th>
                    Precio
                </th>

            </tr>

            @foreach (var item in Model)
            {
                string fila;
                int columna;
                if ((int)item.idasiento / 15 == 6)
                {
                    fila = "F";
                    columna = (int)item.idasiento % 15;
                }
                else if ((int)item.idasiento / 15 == 5)
                {
                    fila = "E";
                    columna = (int)item.idasiento % 15;
                }
                else if ((int)item.idasiento / 15 == 4)
                {
                    fila = "D";
                    columna = (int)item.idasiento % 15;
                }
                else if ((int)item.idasiento / 15 == 3)
                {
                    fila = "C";
                    columna = (int)item.idasiento % 15;
                }
                else if ((int)item.idasiento / 15 == 2)
                {
                    fila = "B";
                    columna = (int)item.idasiento % 15;
                }
                else
                {
                    fila = "A";
                    columna = (int)item.idasiento % 15;
                }

                <tr>
                    <td>
                        @fila

                    </td>
                    <td>
                        @columna
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>
                        @Html.ActionLink("Cambiar Boleto", "CambiarBoleto", new { id = item.idasiento })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>