@{
    ViewBag.Title = "MainAdministrador";
    Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
